.hero {
  min-height: 100vh;
  background: linear-gradient(90deg,#f5f6ff,#eef2ff,#f5f6ff);
  padding-top: 140px;
  padding-bottom: 60px;
  padding-left: 8%;
  padding-right: 8%;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}

.hero-left {
  flex: 1;
}

.hero-badge {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #c7d2fe;
  border-radius: 30px;
  color: #4f46e5;
  background: #eef2ff;
  margin-bottom: 30px;
}

.hero-left h1 {
  font-size: 57px;
  font-weight:bolder;
  line-height: 1.1;
  color: #0f172a;
  margin-bottom: 25px;
}

.hero-left h1 span {
  background: linear-gradient(
    90deg,
    #4f46e5,
    #9333ea
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-left p {
  color: #64748b;
  font-size: 18px;
  max-width: 650px;
  line-height: 1.7;
}

.job-search-card {
  background: white;
  border-radius: 24px;
  padding: 25px;
  margin-top: 35px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.search-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.input-box {
  flex: 1;
  background: #f8fafc;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
}

.search-row select {
  border: none;
  background: #f8fafc;
  border-radius: 15px;
  padding: 15px;
  min-width: 160px;
}

.button-row {
  display: flex;
  gap: 15px;
}

.find-btn {
  flex: 1;
  border: none;
  background: linear-gradient(
    90deg,
    #4f46e5,
    #9333ea
  );
  color: white;
  padding: 16px;
  border-radius: 15px;
  font-size: 17px;
  cursor: pointer;
}

.upload-btn {
  border: 1px solid #4f46e5;
  background: white;
  color: #4f46e5;
  padding: 16px 25px;
  border-radius: 15px;
  cursor: pointer;
}

.popular-tags {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.popular-tags button {
  border: 1px solid #e2e8f0;
  background: white;
  font-weight: 500;
  padding: 6px 15px;
  border-radius: 30px;
}

.hero-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.dashboard-card {
  width: 400px;
  background: white;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,.08);
}

.dashboard-header {
  background: linear-gradient(
    90deg,
    #4f46e5,
    #9333ea
  );
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  background: #f8fafc;
  border-radius: 15px;
}

.progress {
  height: 8px;
  background: #e2e8f0;
  border-radius: 20px;
  margin-top: 20px;
}

.progress-fill {
  width: 80%;
  height: 100%;
  background: #6d28d9;
  border-radius: 20px;
}

.floating-card {
  position: absolute;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.top {
  top: 60px;
  left: 0;
}

.bottom {
  right: 0;
  bottom: 50px;
}

.stats {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
}

.stat-card {
  background: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,.06);
}

.stat-card svg {
  color: #5b21b6;
  font-size: 28px;
}

@media(max-width:992px){

  .hero-container{
    flex-direction:column;
  }

  .hero-left h1{
    font-size:50px;
  }

  .stats{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:768px){

  .hero-left h1{
    font-size:40px;
  }

  .search-row{
    flex-direction:column;
  }

  .button-row{
    flex-direction:column;
  }

  .dashboard-card{
    width:100%;
  }

  .stats{
    grid-template-columns:1fr;
  }

  .floating-card{
    display:none;
  }
}