.about-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #7b2ff7, #5b2be0, #3f2cb8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}

/* Blur Glow */
.about-section::before,
.about-section::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.6;
}

.about-section::before {
  width: 350px;
  height: 350px;
  background: #b44cff;
  top: -120px;
  left: -100px;
}

.about-section::after {
  width: 450px;
  height: 450px;
  background: #5f5bff;
  bottom: -180px;
  right: -120px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.08);
}

.about-content {
  position: relative;
  z-index: 2;
  text-align: center;
 
  top: 20px;
}

.story-badge {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-size: 15px;
  margin-bottom: 35px;
}

.about-content h1 {
  font-size: 65px;
  line-height: 1.1;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
}

.about-content h1 span {
  color: #d3d4ff;
}

.about-content p {
  font-size: 22px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.9);
  max-width: 900px;
  margin: auto;
  margin-bottom: 100px;
}

/* Stats */

.aboutstats-container {
  bottom: -70px;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  z-index: 5;
  margin-bottom: 20px;
}

.aboutstat-card {
display: flex;
flex-direction: column;
padding: 10px 10px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.aboutstat-card h2 {
  color: #5b3df5;
  font-size: 45px;
  font-weight: bold;
}

.aboutstat-card p {
  color: #666;
  font-size: 20px;
}

/* ===================== */
/* Tablet */
/* ===================== */

@media (max-width: 992px) {

  .about-section {
    padding: 70px 20px 220px;
  }

  .about-content h1 {
    font-size: 52px;
  }

  .about-content p {
    font-size: 20px;
  }

  .aboutstats-container {
    grid-template-columns: repeat(2,1fr);

  }

}

/* ===================== */
/* Mobile */
/* ===================== */

@media (max-width: 576px) {

  .about-section {
    padding: 60px 20px 450px;
  }

  .story-badge{
    font-size:14px;
    padding:8px 18px;
  }

  .about-content h1{
    font-size:36px;
  }

  .about-content p{
    font-size:17px;
    line-height:1.7;
  }

  .stats-container{
    grid-template-columns:1fr;
    width:92%;
    bottom:-360px;
  }

  .stat-card{
    padding:28px;
  }

  .stat-card h2{
    font-size:42px;
  }
  

}
.missionsection{
    width:100%;
    background:#f7f8ff;
    padding:100px 8%;
    display:grid;
    grid-template-columns:1.1fr 1fr;
    gap:70px;

}

.mission-left{
    display:flex;
    flex-direction:column;
}

.mission-badge{
    display:inline-flex;
    align-items:center;
    gap:8px;
    width:max-content;
    padding:10px 20px;
    border-radius:40px;
    border:1px solid #d7dcff;
    background:#eef1ff;
    color:#4b4bf8;
    font-weight:600;
    margin-bottom:35px;
}

.mission-left h2{
    font-size:42px;
    line-height:1.15;
    font-weight:700;
    color:#0d1532;
    margin-bottom:35px;
}

.mission-left p{
    font-size:20px;
    line-height:1.8;
    color:#667085;
    margin-bottom:28px;
}

.mission-right{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}

.mission-card{
    background:#fff;
    border-radius:22px;
    padding:35px;
    transition:.3s;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.mission-card:hover{
    transform:translateY(-8px);
}

.icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#eef1ff;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#5d4df7;
    margin-bottom:28px;
}

.mission-card h3{
    font-size:24px;
    margin-bottom:18px;
    color:#111827;
    font-weight: 600;
}

.mission-card p{
    color:#667085;
    line-height:1.8;
    font-size:18px;
}

/* Tablet */

@media(max-width:991px){

.mission-section{
grid-template-columns:1fr;
}

.mission-left h2{
font-size:46px;
}

.mission-left p{
font-size:20px;
}

}

/* Mobile */

@media(max-width:768px){

.mission-section{
padding:70px 20px;
}

.mission-right{
grid-template-columns:1fr;
}

.mission-left h2{
font-size:34px;
}

.mission-left p{
font-size:17px;
}

.mission-card{
padding:28px;
}

.mission-card h3{
font-size:22px;
}

.mission-card p{
font-size:16px;
}

}
.team-section{
    background:#f7f8ff;
    padding:100px 8%;
    
    
}

.team-header{
    text-align:center;
    margin-bottom:70px;
}

.team-badge{
    display:inline-flex;
    align-items:center;
    gap:8px;
    padding:10px 22px;
    background:#eef1ff;
    border:1px solid #d8ddff;
    border-radius:30px;
    color:#4f46ff;
    font-weight:600;
    margin-bottom:30px;
  
}

.team-header h2{
    font-size:42px;
    color:#0d1532;
    font-weight:700;
}

.team-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:28px;
}

.team-card{
    background:#fff;
    border-radius:22px;
    padding:35px 25px;
    text-align:center;
    box-shadow:0 8px 30px rgba(0,0,0,.05);
    transition:.3s;
}

.team-card:hover{
    transform:translateY(-8px);
}

.team-image{
    width:100px;
    height:100px;
    border-radius:22px;
    object-fit:cover;
    margin-bottom:22px;
    display: block;
    margin: auto;
}

.team-card h3{
    font-size:28px;
    color:#101828;
    margin-bottom:10px;
    font-weight: 700;
}

.team-card h4{
    color:#4f46ff;
    font-size:22px;
    margin-bottom:22px;
    font-weight:600;
}

.team-card p{
    color:#667085;
    font-size:18px;
    line-height:1.8;
    min-height:95px;
}

.team-socials{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:20px;
}

.team-socials a{
    width:38px;
    height:38px;
    border-radius:50%;
    background:#f3f4f6;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#98a2b3;
    transition:.3s;
}

.team-socials a:hover{
    background:#4f46ff;
    color:#fff;
}

/* Tablet */

@media(max-width:1100px){

.team-grid{
grid-template-columns:repeat(2,1fr);
}

.team-header h2{
font-size:44px;
}

}

/* Mobile */

@media(max-width:768px){

.team-section{
padding:70px 20px;
}

.team-grid{
grid-template-columns:1fr;
}

.team-header h2{
font-size:34px;
}

.team-card h3{
font-size:24px;
}

.team-card h4{
font-size:18px;
}

.team-card p{
font-size:16px;
}

}
/* ========================= */
/* Join Team Section */
/* ========================= */

.join-section{
    width:100%;
    background:#f7f8ff;
    padding:80px 8%;
    display:flex;
    justify-content:center;
}

.join-card{
    width:100%;
    max-width:1000px;
    padding:70px 40px;
    border-radius:30px;
    text-align:center;

    background:linear-gradient(90deg,#4f46ff,#7c3aed,#9333ea);

    box-shadow:0 20px 45px rgba(79,70,229,.25);
}

.join-card h2{
    color:#fff;
    font-size:52px;
    font-weight:700;
    margin-bottom:25px;
}

.join-card p{
    color:rgba(255,255,255,.9);
    font-size:22px;
    line-height:1.8;
    max-width:800px;
    margin:0 auto 45px;
}

.join-btn{
    border:none;
    background:#fff;
    color:#4f46ff;

    padding:18px 45px;
    font-size:20px;
    font-weight:600;

    border-radius:18px;
    cursor:pointer;

    transition:.3s;
}

.join-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}
